[![Open in Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/Fuenfgeld/2022TeamBDataEngineeringBC/blob/main/Uebungen/Uebungen/Uebungen%20zu%20Teil%201.ipynb)

# Übungen zu Teil 1

## Bitte führen Sie die nächsten beiden Codeabschnitte aus

### Die Lösungen befinden sich im Ordner Uebungen/Loesungen und sind am Ende der Übung verlinkt

In [ ]:
#Load Libraries
import sqlite3
import pandas as pd

# Load GitHub repo
%cd /content/
%rm -r ./2022TeamBDataEngineeringBC
!git clone https://github.com/Fuenfgeld/2022TeamBDataEngineeringBC.git
%cd ./2022TeamBDataEngineeringBC/

In [ ]:
# Connect to Database
conn = sqlite3.connect('sqlite_workshop.db')
cursor = conn.cursor()
print("Opened database successfully");

# Delete table if exists 
cursor.execute("DROP TABLE IF EXISTS food")
cursor.execute("DROP TABLE IF EXISTS orders")
cursor.execute("DROP TABLE IF EXISTS animals")
cursor.execute("DROP TABLE IF EXISTS customer")
cursor.execute("DROP TABLE IF EXISTS customer_buys_food")
cursor.execute("DROP TABLE IF EXISTS employee")
cursor.execute("DROP TABLE IF EXISTS sales")
cursor.execute("DROP TABLE IF EXISTS food_new")
cursor.execute("DROP TABLE IF EXISTS customer_new")
cursor.execute("DROP TABLE IF EXISTS employee_new")
cursor.execute("DROP TABLE IF EXISTS Liga")
cursor.execute("DROP TABLE IF EXISTS Verein")
cursor.execute("DROP TABLE IF EXISTS Spieler")

# Create tables
cursor.execute('''
		CREATE TABLE IF NOT EXISTS Liga (
            L_name nvarchar(80) primary key,
            Anzahl_Vereine int
			)
               ''')

cursor.execute('''
		CREATE TABLE IF NOT EXISTS Verein (
			V_name nvarchar(80) primary key,
            Liga nvarchar(80),
            Anzahl_Meisterschaften int,
            foreign key(Liga) references Liga(L_name)

			)
               ''')

cursor.execute('''
		CREATE TABLE IF NOT EXISTS Spieler (
			S_name nvarchar(80) primary key,
            Verein nvarchar(80),
            foreign key(Verein) references Verein(V_name)

			)
               ''')

# fill tables for Part 1
cursor.execute('''
		INSERT INTO Liga (L_name,Anzahl_Vereine)
            VALUES
            ("1. Bundesliga", 18),
            ("2. Bundesliga", 18), 
            ("3. Bundesliga",20)

			
               ''')

cursor.execute('''
		INSERT INTO Verein (V_name, Liga, Anzahl_Meisterschaften)
            VALUES
            ("1. FC Bayern Muenchen", "1. Bundesliga", 32),
            ("1. FC Kaiserslautern", "3. Bundesliga", 4), 
            ( "SV Waldhof Mannheim", "3. Bundesliga", 0)

			
               ''')
cursor.execute('''
		INSERT INTO Spieler (S_name, Verein)
            VALUES
            ("Manuel Neuer","1. FC Bayern Muenchen"),
            ("Matheo Raab", "1. FC Kaiserslautern"), 
            ("Timo Koenigsmann", "SV Waldhof Mannheim")

			
               ''')

# Aufgabe zu Teil 1

### Beispielcode zum herausfinden eines Primary Keys

print(pd.read_sql_query("PRAGMA table_info('TABELLENNAME')", conn))

### Beispielcode zum herausfinden der Foreign Keys

print(pd.read_sql_query("PRAGMA foreign_key_list("TABELLENNAME")", conn))

### Die Elemente eines ER-Diagramms

[<img src="https://raw.githubusercontent.com/Fuenfgeld/2022TeamBDataEngineeringBC/main/Presentation/Bilder/er_basics.png">](https://raw.githubusercontent.com/Fuenfgeld/2022TeamBDataEngineeringBC/main/Presentation/Bilder/er_basics.png)

## 1.1 Ersetze die Fragezeichen, um eine gültige PRAGMA Funktion zu nutzen und Informationen über die Datenbankstruktur zu gewinnen

### Herausfinden der Tabellennamen

In [ ]:
print(pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn))

### Welche Primary Keys gibt es?

In [ ]:
print(pd.read_sql_query("???('???')", conn))
print("----------------------------------------")
print(pd.read_sql_query("???('???')", conn))
print("----------------------------------------")
print(pd.read_sql_query("???('???')", conn))

### Welche Foreign Keys gibt es?

In [ ]:
# Foreign keys herausfinden
print(pd.read_sql_query("PRAGMA ???('???')", conn))
print("----------------------------------------")
print(pd.read_sql_query("PRAGMA ???('???')", conn))
print("----------------------------------------")
print(pd.read_sql_query("PRAGMA ???('???')", conn))

### Ausgabe der kompletten Tabelleninhalte

In [ ]:
print(pd.read_sql_query("SELECT * FROM Liga", conn))
print("----------------------------------------")
print(pd.read_sql_query("SELECT * FROM Verein", conn))
print("----------------------------------------")
print(pd.read_sql_query("SELECT * FROM Spieler", conn))

## 1.2 Zeichne mit den gewonnen Informationen ein ER-Diagramm

# Zu den Lösungen

[![Open in Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/Fuenfgeld/2022TeamBDataEngineeringBC/blob/main/Uebungen/Loesungen/Loesungen%20%20zu%20Teil%201.ipynb)